<form>
  <div class="form-group">
    <label for="firstName">Name</label>
    <input
      required
      minlength="4"
      pattern="echo"
      ngModel
      name="firstName"
      id="firstName"
      type="text"
      class="form-control"
      #firstName="ngModel"
      (change)="log(firstName)"
    />
    <div *ngIf="firstName.touched && !firstName.valid" class="alert alert-danger">
      <div *ngIf="firstName.errors">Nom requis</div>
      <div *ngIf="firstName.errors?.minlength">Nom doit avoir minimum {{firstName.errors?.minlength.requiredLength}} caracteres</div>
      <div *ngIf="firstName.errors?.pattern">Nom doit respecter le pattern  {{firstName.errors?.pattern.requiredPattern}}</div>
    </div>
  </div>
  

  <div class="form-group">
    <label for="comment">Comments</label
    ><textarea
      ngModel
      name="comment"
      id="comment"
      cols="30"
      rows="10"
      class="form-control"
    ></textarea>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
