<!-- <app-star
  [is-favorite]="products.isFavorite"
  (trigger-favorite)="getFavorite($event)"
></app-star>
<like
  [is-like]="tweet.isLike"
  [total-like]="tweet.totalCountOfLike"
  (trigger)="getDataTweet($event)"
></like> -->

<!-- POC -->
<!-- <app-guest-list></app-guest-list> -->

<!-- DIRECTIVE -->
<!-- <input type="text" appInputFormat [format]='"uppercase"'> -->

<!-- COLLAPSE CONTENT -->
<!-- <collapse-content title="Shipping Details">
Shipping Details Content
</collapse-content>

<collapse-content title="Billing Details">
Billing Details Content
</collapse-content> -->


<!-- CONTATC-FORM -->
<!-- <contact-form></contact-form> -->

<!-- COURSE-FORM -->
<!-- <course-form></course-form> -->


<!-- SIGN UP -->
<signup></signup>
