<!-- <app-star
  [is-favorite]="products.isFavorite"
  (trigger-favorite)="getFavorite($event)"
></app-star>
<like
  [is-like]="tweet.isLike"
  [total-like]="tweet.totalCountOfLike"
  (trigger)="getDataTweet($event)"
></like> -->

<!-- POC -->
<!-- <app-guest-list></app-guest-list> -->

<!-- DIRECTIVE -->
<!-- <input type="text" appInputFormat [format]='"uppercase"'> -->

<collapse-content title="Shipping Details">
  <ng-container class="title-content">Shipping Details Content</ng-container>
</collapse-content>

<collapse-content title="Billing Details">
  <ng-container class="title-content">Billing Details Content</ng-container>
</collapse-content>
